/*body{
  background-color: #15161b;
  animation-name: example;
  animation-duration: 0.35s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}*/

#sfondo{
  background-color: #15161b;
}

#gifPlay{
  scale: 300%;
  opacity: 0;
  top: 500px;
  left: 500px;
}


p{
  font-size: 40px;
  color:white;
  margin-left: 1vh;
  margin-right: 1vh;
}

img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.imgCenter{
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.testoHome2{
  margin-top: 3vh;
  text-align: justify;
  opacity: 0;
}
.nota{
  font-size: 25px;
  opacity: 0;
}
 .myBody {
   padding: 0px;
   padding-bottom: 0px;
   min-height: 84vh; // da scegliere accuratamente la dimensione (conta la dimensione del finto header)
 }
 .luminaButton {
   border: none;
   text-align: center;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   animation-fill-mode: forwards;
 }

 .circle {
   height: 25px;
   width: 25px;
   background-color: white;
   border-radius: 50%;
   display: inline-block;
}

 .luminaButton:checked {
   /*color: white;*/
   content: "";
   opacity: 0;
   transition: 5s;
 }

 div {
   width: 100px;
   height: 100px;
   background-color: black;
   animation-duration: 0.2s;
 }

 @keyframes example {
  from {background-color: black;}
  to {background-color: white;}
}

#homePage.animatingOut {
  animation: homeOut;
  animation-fill-mode: both;
  animation-duration: 2s;
}

#homePage2Testo.animatingIn {
  animation: home2In;
  animation-fill-mode: both;
  animation-duration: 20s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

#homePage2Nota.animatingIn {
  animation: home2In;
  animation-fill-mode: both;
  animation-duration: 20s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

#sfondo.animWhite{
  animation: toWhite;
  animation-fill-mode: both;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

#sfondo.animFlashBlack{
  animation: flashToBlack;
  animation-fill-mode: both;
  animation-duration: 0.05s;
  animation-iteration-count: 5;
}

#sfondo.black{
  background-color: black;
}

#gifPlay.gifViewer{
  animation: gifIn;
  animation-fill-mode: both;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
/*
#homePage2Testo.animatingIn {
  animation: home2In;
  animation-fill-mode: both;
  animation-duration: 20s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}*/

@keyframes homeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes home2In {
  0% {
    opacity: 0;
  }
  12%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toWhite {
  0% {
    background-color: #15161b;
  }
  50% {
    background-color: #ffffff;
  }
  100%{
    background: url(gif/light1.gif);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
  }
}

@keyframes flashToBlack {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

@keyframes gifIn {
  0% {
    opacity: 0;
    top: 0px;
    left: 0px;
  }
  100% {
    opacity: 1;
    top: 0px;
    left: 0px;
  }
}

@media only screen and (max-width: 1500px) {
  .half{
    width:90%;
    padding:0px;
  }
}

@media only screen and (max-width: 700px) {
  .half{
    width:100%;
    padding:0px;
  }
  .workPic{
    width:300px!important;
    height:300px!important;

  }
}
