
html {
  background-color: black;
  font-size: 20px;
  line-height: 10px;
  height: 10px;
}

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  opacity: 0.1;
  width: 60%;
  margin-left: 2px;
  margin-right: auto;
}


li {
  margin-left: 20px;
}
